.statistics-main {
    width: 100%;
    flex-direction: row;
    display: flex;
}

.marginRight {
    margin-right: 150px;
}

.chartBlock {
    width: 700px;
    height: 400px;
    border: 1px solid #c3ad9d;
    border-radius: 14px;
    padding: 18px;
}

.pieChart {
    width: 300px;
    height: 300px;
}

.marginBottom {
    margin-bottom: 20px;
}

.flex {
    display: flex;
    align-items: baseline;
}

.marginS {
    margin-right: 12px;
}
